* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  margin: 0 auto;
  font-family: "Nunito";
  color: #3c3b3b;
  background: #f8f8f8;
  overflow-x: hidden;
  display: grid;
  grid-template-columns: 1fr 3fr 3fr 1fr;
  grid-template-areas:
    "header header header header"
    ". main main ."
    "rodape rodape rodape rodape";
}

::-webkit-scrollbar {
    height: 10px; /* Altura da barra de rolagem */
    width:5px;
}

::-webkit-scrollbar-track {
    background: #f1f1f1; /* Cor de fundo da área da barra de rolagem */
}

::-webkit-scrollbar-thumb {
    background: #9c315f; /* Cor da alça (o "puxador" da barra de rolagem) */
    border-radius: 5px; /* Arredondar as bordas da alça */
}

    ::-webkit-scrollbar-thumb:hover {
        background: #555; /* Cor da alça quando o cursor passa sobre ela */
    }

@media (max-width: 1000px) {
  body {
    display: grid;
    grid-template-columns: 100%;
  }
}
